/* ##############################################
   ###### Feuille de style de Bénévalibre #######
   ############################################## */

/* Police de caractères */
@font-face {
    font-family: 'Open Sans';
    src: url('font/OpenSans-Bold-webfont.woff');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans';
    src: url('font/OpenSans-Regular-webfont.woff');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansitalic';
   	src: url('font/OpenSans-Italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansitalic';
   	src: url('font/OpenSans-SemiblodItalic-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;

}

@font-face {
    font-family: 'open_sansitalic';
   	src: url('font/OpenSans-Semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}

p, ul, ol, a, h1, h2, h3, h4, h5, h6, summary, cite, details {
	font-family: "Open Sans", sans-serif;
}

/* Corps */
body {
	background-color: white;
	margin: 0;
}

/* Marges */
article {
	margin-left: 20%;
	margin-right: 20%;
}

/* Titres */
h1 {
	font-weight: bold;
	text-align: center;
	font-size: 4em;
	color: #397386;
}

h2 {
	font-weight: bold;
	text-align: left;
	font-size: 2.5em;
}

section h2 .undercolor {
	border-bottom: 0.5em solid #dd1f76;
	width: 2.6em;
	margin-top: 0.2em;
}

h2 .h-text {
	width: 35%;
}

em {
	font-weight: 600;
	font-style: italic;
	color: #dd1f76;
}

/* En-tête */
header {
	display: flex;
	justify-content: center;
	margin-top: 3em;
}

a .logo:hover {
	opacity: 0.8;
}

/* Pied de page */
footer ul {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	font-size: 1em;
	margin-top: 0.5em;
}

footer a {
	color: white;
	text-decoration: none;
}

footer a:hover {
	opacity: 0.8;
}

footer p {
	font-size: 1em;
	color: white;
	text-align: center;
}

footer li {
	margin-left: 0.5em;
	margin-right: 0.5em;
}

footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 1em 0em 0em 0em;
	padding-bottom: 2em;
	background-color: #397386;
}

.mini-partenaire  img {
	height: 1.5em;
	margin: 0 0.5em 0 0.5em;
	background-color: white;
	text-align: center;
}

footer .center {
	margin-bottom: 0;
}

/* Article */
p, ul, cite {
	font-size: 1.5em;
}

ul {
	color: #dd1f76;
	list-style-type: "\2013\0020";
}

p a {
	color: #444;
	text-decoration: underline solid #397386;
	padding-bottom: 0.2em;
}

p a:hover {
	opacity: 0.8;
}


strong {
	color: #dd1f76;
	font-weight: 700;
}

.big-data {
	background-color:#397386;
	font-size: 1.5em;
	color: white;
	border-radius: 1em;
	padding: 1em;
	margin: 3em 2em 2em 2em;
}

.big-data .note {
	color: white;
}

.big-data strong {
	color: white;
	font-weight: bold;
}

small {
	font-weight: lighter;
	opacity: 0.6;
}

details {
	color: white;
	background-color: #397386;
	border-radius: 0.5em;
	padding: 1.5em;
}

cite {
	font-weight: 700;
	text-align: right;
}

section .undercolor {
	border-bottom: 0.3em solid #dd1f76;
	width: 7em;
	margin-top: 1em;
}

/* Divers */
.bug-report {
	color: orange;
}

.button {
	border-radius: 0.3em;
	background-color: grey;
	text-decoration: none;
	color: white;
	padding: 0.5em 0.5em 0.5em 0.5em;
	text-align: center;
}

.button:hover {
	opacity: 0.8;
}

.btn-primary {
	background-color: #dd1f76;
}

.fa-right {
	margin-left: 0.5em;
}

.fa-left {
	margin-right: 0.5em;
}

.partenaire img {
	height: 7em;
	margin-left: 0.5em;
	margin-right: 0.5em;
	max-width: 100%;
}

.partenaire {
	width: 100%;
	text-align: center;
	font-weight: lighter;
	font-style: italic;
	color: #dd1f76;
}

.partenaires img:hover {
	opacity: 0.8;
}

#illu1 img {
	width: 60%;
	filter: drop-shadow(0 0 0.75rem crimson);
	border-radius: 0 0 0 50em;
}

#illu2 img {
	width: 90%;
}

/* Flex */
.center {
	display: flex;
	justify-content: center;
	margin-top: 1em;
	margin-bottom: 1em;
}

.flexgrid {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

section {
	width: 100%;
	padding: 0.5em;
	margin: 0.5em;
}

/* Responsive */
@media (orientation: landscape) {
	@media (max-width: 600px) {
		.logo {
			width: 300px;
		}
		
		h1 {
		font-size: 2em;
		}
		
		article {
			margin-left: 5%;
			margin-right: 5%;
		}
		
		h2 .h-text {
			width: 100%;
		}

		.big-data {
			font-size: 1.25em;
		}
		
		.partenaires {
			flex-direction: column;
		}
		
		footer {
			flex-direction: column;
			justify-content: center;
		}
		
		footer ul {
			justify-content: center;
		}
	}
	
	@media (min-width: 600px) {
		.logo {
			width: 400px;
		}
		
		h1 {
		font-size: 2.5em;
		}
		
		h2 .h-text {
			width: 80%;
		}
		
		h2 {
			font-size: 2em;
		}
		
		article {
			margin-left: 10%;
			margin-right: 10%;
		}
		
		.lrg-6 {
			width: 100%;
		}
		
		.partenaire {
			width: 30%;
		}
		
		
		.partenaires .flexgrid {
			justify-content: space-around;
		}
		
			footer {
			flex-direction: column;
			justify-content: center;
		}
	}
	
	@media (min-width: 1000px) {
		.logo {
			width: 500px;
		}
		
		h1 {
		width: 60%;
		}
		
		.lrg-6 {
			width: 45%;
		}
		
	}
}

@media (orientation: portrait) {
	
	.partenaire img {
		height: 6em;
	}
	
	footer, footer ul {
		flex-direction: column;
		justify-content: center;
	}
	
	footer .mini-partenaire {
		flex-direction: row;
		margin: auto;
		flex-wrap: wrap;
	}
	
	
	@media (max-width: 500px) {
		h1 {
		font-size: 2em;
		}
		
		article {
			margin-left: 5%;
			margin-right: 5%;
		}
		
		
		h2 {
			font-size: 2em;
		}
		
		h2 .h-text {
			width: 100%;
		}

		.big-data {
			font-size: 1em;
			width: 100%;
			margin: 0em 0em 0em 0em;
		}
		
		#illu2 img {
		width: 100%;
		}
	
	}
	
	@media (min-width: 500px) {
		h1 {
			font-size: 2.5em;
		}
		
		article {
			margin-left: 10%;
			margin-right: 10%;
		}
		
		h2 .h-text {
			width: 90%;
		}
		
		.big-data {
			width: 100%;
			margin: 0;
		}
		
		#illu2 img {
		width: 100%;
		}
	
		
	}
	
	@media (min-width: 660px) {
		#illu2 img {
			width: 90%;
		}
		
	}
}
